
<h1>@ViewData["Title"]</h1>


<!-- page that displays info about the contacts in the company -->
    <h1>Contact Us</h1>

    <div class="container mt-5">
        <p class="col-2  text-info" style="padding: 0px; margin: 0px;">
            Address:
        </p>
        <p class="col-3">
            Somewhere vill, Box 777,
            Some Lake, Somizona,
            86038
        </p>
    </div>
    <div class="container">
        <p class="col-2" style="padding: 0px; margin: 0px;">
            <span class="text-info">Office phone:</span> <em>702-555-2234</em>
        </p>
        <p class="col-6" style="padding: 0px; margin: 0px;">
            <span class="text-info">For Bookings call our Toll-Free:</span> <em>888-555-2235</em>
        </p>
        <p class="col-3">
            <span class="text-info">fax:</span> <em>928-555-2236</em>
        </p>
    </div>
    <div class="container">
        <p class="col-4" style="padding: 0px; margin: 0px;">
            Packages Manager: <strong>Don Gilligan</strong>
        </p>
        <p class="col-4" style="padding: 0px; margin: 0px;">
            Bookings Manager: <strong>Sasha Carr</strong>
        </p>
        <p class="col-3">
            <span class="text-info">Contact email:</span> <em>info@travelexperts.com</em>
        </p>
    </div>

    <div>
    <a role="button" class="btn  btn-outline-info mt-5" asp-controller="Home" asp-action="Index">Home</a>
    </div>

